body {
  background-color: rgb(1, 1, 49);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400px;
  height: 500px;
  background-color: #224963;
  border: 11px solid rgb(1, 2, 34);
  padding: 20px;
  margin-left: 700px;
  margin-top: 200px;
}
.name {
  font-size: 10px;
  margin-left: 15px;
  margin-top: -45px;
  font-weight: bold;
  font-family: monospace;
}

.screen {
  color: white;
  grid-column: 1/-1;
  background-color: #1d2f3b;
  padding: 0;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 40px;
}

.span-two {
  grid-column: span 2;
  font-weight: bold;
  color: white;
  font-size: 30px;
  background-color: rgb(124, 5, 5);
}
.span-three {
  grid-column: span 2;
  font-weight: bold;
  color: white;
  font-size: 30px;
  background-color: rgb(2, 59, 0);

  
}

button {
  padding: 10px;
  background-color: #abb5bb;
  border: 1px solid #16222a;
}

button:hover {
  background-color: #16222a;
  border: 1px solid #3a6073;
  color: white;
}
